<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Consider changing this to a lower level if you need help debugging the program and seeing what Micronaut is doing under the hood  -->
    <logger name="io.micronaut.context.condition" level="info"/>

    <!-- Set this logger to the 'trace' level to debug the HTTP requests and responses. -->
    <logger name="io.micronaut.http.client" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
