<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Consider changing this to a lower level if you need help debugging the program and seeing what Micronaut is doing under the hood  -->
    <logger name="io.micronaut.context" level="error"/>

    <!-- Set this logger to "debug" to log SQL queries that get sent to the database   -->
    <logger name="io.micronaut.data.query" level="info"/>

    <logger name="com.zaxxer.hikari.HikariDataSource" level="error"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
